<body>
	<h2>Editing book</h2>

	<div class="edit-contents">
		<%= form_for (@book) do |f| %>

		<p class="edit-title">title</p>
		<%= f.text_field :title %>

		<p class="edit-body">body</p>
		<%= f.text_area :body %>

		<br>
		<%= f.submit "Update Book" %>

		<% end %>

		<span><%=link_to "Show", book_path(@book) %>|<%=link_to "Back", books_path %></span>
	</div>
</body>

