<h2>Editing book</h2>

<%= form_for (@book) do |f| %>
<h3>title</h3>
<%= f.text_field :title %>

<h3>body</h3>
<%= f.text_area :body %>

<%= f.submit "update book" %>

<% end %>

<span><%=link_to "show", book_path(@book) %>|<%=link_to "back", books_path %></span>
