<h2>Books</h2>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>
	<tbody>
	<% @books. each do |book| %>
		<tr>
			<td>
				<%= book.title %>
			</td>
			<td>
				<%= book.body %>
			</td>
			<td>
			<%= link_to "詳細", book_path(book) %>
			<%= link_to "編集", edit_book_path(book) %>
			<%= link_to "削除", book_path(book), method: :delete, data: {confirm: "削除しますか？"} %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>